/target/
/.settings/
/.project
/.classpath
.nbattrs
src/main/resources/META-INF/persistence.xml

/target/
/build/

.nb-gradle/
.nb-jdks/
.nb-configurations/
.vscode/
.idea/
*.class

.DS_Store
Thumbs.db